.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/*******************/
/***** GENERIC *****/
/*******************/

.wrapper-title{
  padding-top: 20px;
  padding-bottom: 30px;
}
.wrapper-toast{
  position: absolute;
  top: 20px;
  right: 20px;
}
.wrapper-loading{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(220,220,220,0.9);
}
.wrapper-loading .MuiCircularProgress-indeterminate{
  position: relative;
  top: 50%;  
}



/*******************/
/****** LOGIN ******/
/*******************/

.wrapper-login{
  max-width: 450px;
  position: absolute;
  top: 25%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}



/*******************/
/****** MODAL ******/
/*******************/

a.btn {
  width: 200px;
  padding: 18px 0;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 0;
  background: #3f51b5;
}
.modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; 
  left: 0;
  background: rgba(220, 220, 220, 0.9);
  transition: all 0.25s ease-in-out;
}

.modal-wrapper .wrapper-title{
  color: white;
}

.modal-wrapper.open {
  opacity: 1;
  visibility: visible;
}
.modal {
  width: 600px;
  height: 400px;
  display: block;
  position: relative;
  top: 25%; 
  left: 50%;
  background: #fff;
  transition: all 0.5s ease-in-out;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
.modal-wrapper.open .modal {
  margin-top: -200px;
  opacity: 1;
}
.head { 
  width: 90%;
  height: 32px;
  padding: 12px 30px;
  overflow: hidden;
  background: #3f51b5;
}
.btn-close {
  font-size: 28px;
  display: block;
  float: right;
  color: #fff;
}
.content {
  padding: 10%;
}
.good-job .fa-thumbs-o-up {
  font-size: 60px;
}
.good-job h1 {
  font-size: 45px;
}



/*******************/
/***** PRODUCT *****/
/*******************/

.wrapper-modal-reason{
  width: 100%;
  margin-bottom: 20px !important;
}